//FS panel colors.
$use-fs-panel: false;
$panelId: 1;
$panel-el-search: false;

//fs panel vc flags
$fs_panel_vc_post_grid: false;
$fs_panel_vc_buttons: false;
$fs_panel_vc_tabs: false;
$fs_panel_vc_call_to_action: false;

$fs_panel_search_design_enabled: false;

//backgrounds
$url_bg_fs_panel_1_url_bg: null;
$url_bg_fs_panel_2_url_bg: null;
$fs_panel_size_bg: cover;
$fs_panel_position_bg: top left;
$fs_panel_repeat_bg: repeat;
$fs_panel_url_bg: null;
