@charset "UTF-8";
.embed-responsive {
  height: 0;
  position: relative; }

.embed-responsive-landscape {
  padding-bottom: 56.25%; }

.embed-responsive-4by3 {
  padding-bottom: 75%; }

.embed-responsive-square {
  padding-bottom: 100%; }

.embed-responsive-portrait {
  padding-bottom: 150%; }

.embed-responsive-landscape_stripe {
  padding-bottom: 41%; }

.iki-left {
  text-align: left; }

.iki-right {
  text-align: right; }

.iki-center {
  text-align: center; }

.iki-hide {
  display: none; }

.iki-round {
  border-radius: 50%; }

.iki-ajax {
  opacity: 0; }

.widget.widget_iki_content_block.iki-full-width {
  display: block;
  width: 100%; }
  .flexbox .widget.widget_iki_content_block.iki-full-width {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%; }

@font-face {
  font-family: 'fontello';
  src: url("font/fontello.eot");
  src: url("font/fontello.eot#iefix") format("embedded-opentype"), url("font/fontello.woff2") format("woff2"), url("font/fontello.woff") format("woff"), url("font/fontello.ttf") format("truetype"), url("font/fontello.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('font/fontello.svg') format('svg');
  }
}
*/
[class^="iki-icon-"]:before, [class*=" iki-icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.iki-icon-behance:before {
  content: '\e817'; }

/* '' */
.iki-icon-bitbucket:before {
  content: '\e818'; }

/* '' */
.iki-icon-dribbble:before {
  content: '\e81a'; }

/* '' */
.iki-icon-dropbox:before {
  content: '\e81b'; }

/* '' */
.iki-icon-foursquare:before {
  content: '\e81c'; }

/* '' */
.iki-icon-github:before {
  content: '\e81d'; }

/* '' */
.iki-icon-instagram:before {
  content: '\e81f'; }

/* '' */
.iki-icon-linkedin:before {
  content: '\e820'; }

/* '' */
.iki-icon-pinterest:before {
  content: '\e821'; }

/* '' */
.iki-icon-reddit:before {
  content: '\e822'; }

/* '' */
.iki-icon-tumblr:before {
  content: '\e823'; }

/* '' */
.iki-icon-vk:before {
  content: '\e825'; }

/* '' */
.iki-icon-weibo:before {
  content: '\e826'; }

/* '' */
.iki-icon-clock:before {
  content: '\e832'; }

/* '' */
.iki-icon-vimeo:before {
  content: '\e837'; }

/* '' */
.iki-icon-twitter:before {
  content: '\e838'; }

/* '' */
.iki-icon-facebook:before {
  content: '\e839'; }

/* '' */
.iki-icon-lastfm:before {
  content: '\e83b'; }

/* '' */
.iki-icon-flattr:before {
  content: '\e83c'; }

/* '' */
.iki-icon-flickr:before {
  content: '\e843'; }

/* '' */
.iki-icon-skype:before {
  content: '\e844'; }

/* '' */
.iki-icon-500px:before {
  content: '\e84c'; }

/* '' */
.iki-icon-youtube:before {
  content: '\e84d'; }

/* '' */
.iki-icon-myspace:before {
  content: '\e84e'; }

/* '' */
.iki-icon-buffer:before {
  content: '\e84f'; }

/* '' */
.iki-icon-deviantart:before {
  content: '\e852'; }

/* '' */
.iki-icon-digg:before {
  content: '\e853'; }

/* '' */
.iki-icon-mixcloud:before {
  content: '\f289'; }

/* '' */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev[aria-disabled="false"]:active,
  .slick-next[aria-disabled="false"]:active {
    padding-top: 5px; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev:before {
  content: "←"; }

.slick-next:before {
  content: "→"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  overflow: hidden;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 12px;
    width: 12px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      border: 1px solid rgba(0, 0, 0, 0.7);
      border-radius: 50%;
      display: block;
      height: 12px;
      width: 12px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer;
      opacity: 0.6; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none;
        opacity: 1;
        background: rgba(0, 0, 0, 0.5); }
    .slick-dots li.slick-active button {
      opacity: 1;
      background: rgba(0, 0, 0, 0.5);
      border: 1px solid transparent; }

.iki-pricing-item {
  position: relative;
  border: 1px solid #d3d3d3;
  overflow: hidden;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .iki-pricing-item .iki-vc-btn-small {
    max-width: 140px; }
  .iki-pricing-item .iki-vc-btn-medium {
    max-width: 190px; }
  .iki-pricing-item .iki-vc-btn-large {
    max-width: 240px; }

.iki-price-main {
  padding: 15px;
  font-size: 1.1rem; }

.iki-btn-price-wrap {
  padding: 0 15px;
  margin-top: 15px; }
  .iki-btn-price-wrap .iki-btn {
    display: block;
    margin: 0 auto;
    width: 100%; }
  .iki-btn-top .iki-btn-price-wrap {
    margin-top: 0; }

.iki-price-s-weak {
  -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4), 0 0px 2px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.4), 0 0px 2px 0 rgba(0, 0, 0, 0.2); }

.iki-price-s-strong {
  -webkit-box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, 0.4); }

.iki-price-anim-hover:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, 0.4); }

.iki-pricing-head {
  background-color: #4885ed;
  color: #fff;
  text-align: center;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  overflow: hidden; }

.iki-price-text {
  font-size: 60px;
  position: relative;
  display: block;
  font-weight: bold;
  padding: 8px 2px;
  line-height: 1; }

.iki-label-top {
  padding: 8px;
  background: rgba(0, 0, 0, 0.3); }

.iki-above-price {
  margin-top: 15px;
  font-size: 1.6rem; }

.iki-below-price {
  padding-bottom: 8px; }

.iki-price-body {
  border-top: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 15px 0; }

.iki-price-l-pull-up {
  margin-top: -30px; }
  .iki-price-l-pull-up .iki-price-text {
    margin-top: 15px;
    margin-bottom: 15px; }

.iki-price-l-stretch {
  margin-top: -30px; }
  .iki-price-l-stretch .iki-price-text {
    margin-top: 15px;
    margin-bottom: 15px; }
  .iki-price-l-stretch .iki-btn-price-wrap {
    margin-top: 45px; }
  .iki-price-l-stretch.iki-btn-top .iki-btn-price-wrap {
    margin-top: 0; }
  .iki-price-l-stretch.iki-btn-top .iki-price-main {
    margin-bottom: 45px; }

.iki-vc-post-list-wrap {
  margin-bottom: 15px; }

.iki-vc-post-list {
  font-size: 14px; }

.iki-vc-post-comm a {
  color: #666; }

.iki-vc-post {
  font-size: 1em;
  padding: 8px; }

.iki-vc-post-title {
  font-size: 1.5em; }

.iki-vc-post-subtitle {
  font-size: 1.14em; }

.iki-vc-p-img-bg {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover; }

.iki-vc-p-layout-with_image.iki-vc-p-image-side .iki-vc-post-img {
  width: 28%;
  position: relative;
  width: calc(30% - 4px);
  display: inline-block;
  vertical-align: top;
  border-radius: 4px;
  overflow: hidden; }

.iki-vc-p-layout-with_image.iki-vc-p-image-side .iki-vc-text {
  display: inline-block;
  vertical-align: top;
  width: 68%;
  width: calc(70% - 4px);
  padding-left: 8px; }

.iki-vc-p-layout-with_image.iki-vc-p-image-side .iki-vc-post-title {
  margin-top: 0;
  font-size: 1.4em; }

@media all and (min-width: 768px) {
  .iki-vc-p-layout-with_image.iki-vc-p-image-side .iki-vc-post-title-above {
    font-size: 1.4em; } }

.iki-vc-p-title-on_the_side .iki-vc-post-subtitle {
  font-size: 1.1em; }

.iki-vc-other {
  margin-top: 15px; }
  .iki-vc-other .iki-vc-post:last-of-type .iki-vc-post-spacing {
    display: none; }

.iki-vc-post {
  margin-top: 30px;
  border-radius: 6px; }
  .iki-vc-post:first-child {
    margin-top: 0; }
  .iki-vc-post-list-second .iki-vc-post {
    margin-top: 30px; }
  .iki-vc-p-layout-no_image .iki-vc-post {
    margin-top: 0; }

.iki-vc-post-date-comm {
  margin-top: 15px; }
  .iki-vc-post-date-comm:before, .iki-vc-post-date-comm:after {
    content: " ";
    display: table; }
  .iki-vc-post-date-comm:after {
    clear: both; }

.iki-vc-post-date {
  display: inline-block; }

.iki-vc-post-comm {
  float: right; }

.iki-vc-post-spacing {
  margin-top: 30px;
  height: 1px;
  background: #d3d3d3; }

.iki-vc-p-image-full_width .iki-vc-post-excp {
  margin-top: 15px; }

.iki-vc-p-image-full_width .iki-vc-p-image-title-wrap {
  border-radius: 4px;
  overflow: hidden; }

.iki-vc-p-image-full_width .iki-vc-post-term-wrap {
  position: absolute;
  top: 8px;
  left: 8px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  z-index: 2;
  font-size: 1em;
  margin: 0; }

@media all and (min-width: 480px) {
  .iki-vc-p-image-full_width.iki-vc-p-title-inside .iki-vc-p-image-title-wrap {
    font-size: 0.9em; } }

@media all and (min-width: 768px) {
  .iki-vc-p-image-full_width.iki-vc-p-title-inside .iki-vc-p-image-title-wrap {
    font-size: 1em; } }

.iki-vc-p-image-full_width.iki-vc-p-title-below .iki-vc-post-term-wrap {
  position: absolute;
  top: auto;
  bottom: 10px;
  left: 10px; }

.iki-vc-p-image-full_width.iki-vc-p-title-above .iki-vc-post-term-wrap {
  position: relative;
  left: auto;
  right: auto;
  margin-bottom: 15px; }

.iki-vc-post-term-wrap {
  margin-bottom: 4px;
  font-size: 0.9em; }

.iki-vc-post-term {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  padding: 6px;
  border-radius: 4px;
  line-height: 1;
  color: #fff; }
  .iki-vc-post-term:focus, .iki-vc-post-term:hover {
    color: #fff;
    text-decoration: underline; }

.iki-vc-p-image-title-wrap {
  background: rgba(0, 0, 0, 0.1);
  position: relative; }

.iki-vc-p-ts-wrap-inside {
  padding: 8px;
  background: rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(65%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 65%, rgba(0, 0, 0, 0) 100%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }
  .iki-vc-p-ts-wrap-inside .iki-vc-icon-video {
    color: #fff; }
  .iki-vc-p-ts-wrap-inside a {
    color: #fff; }
    .iki-vc-p-ts-wrap-inside a:focus, .iki-vc-p-ts-wrap-inside a:hover {
      color: #fff;
      text-decoration: underline; }
  .iki-vc-p-ts-wrap-inside .iki-vc-post-title {
    margin-top: 0; }

.iki-vc-p-ts-wrap-outside .iki-vc-post-subtitle {
  font-size: 1em; }

.iki-css-img-holder {
  background: rgba(0, 0, 0, 0.3);
  background-size: cover; }

.slick-slide.woocommerce {
  text-align: center; }
  .slick-slide.woocommerce .star-rating {
    display: inline-block;
    text-align: center; }

.iki-vc-p-image-title-wrap .iki-woo-slide-btn {
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  bottom: 0px;
  left: 10px;
  width: calc(100% - 20px); }

.iki-vc-p-image-title-wrap:hover .iki-woo-slide-btn {
  opacity: 1;
  bottom: 10px; }

.iki-btn.iki-woo-slide-btn {
  margin: 15px auto 0 auto;
  display: block;
  max-width: 300px; }

.iki-vc-title-wrap {
  position: relative;
  margin-bottom: 15px; }

.iki-vc-title {
  position: relative;
  display: inline-block;
  z-index: 1;
  padding: 8px 0; }

.iki-vc-title-link {
  display: inline-block;
  position: relative;
  color: #333;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .iki-vc-title-link:before {
    content: "";
    width: 100%;
    height: 4px;
    background: #f7f7f7;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }

a.iki-vc-title-link:focus:before, a.iki-vc-title-link:hover:before {
  height: 8px; }

.iki-vc-title-border_full .iki-vc-title-link {
  display: inline-block;
  position: static; }

.iki-vc-title-default .iki-vc-title-link:before {
  display: none; }

.iki-vc-title-border_full .iki-vc-title-link {
  display: inline-block;
  position: static; }

.iki-vc-title-bg_full .iki-vc-title-link {
  display: inline-block;
  position: static;
  padding-left: 4px; }
  .iki-vc-title-bg_full .iki-vc-title-link:before {
    height: 100%; }

.iki-vc-title-bg_full a.iki-vc-title-link:focus, .iki-vc-title-bg_full a.iki-vc-title-link:hover {
  padding-left: 10px; }
  .iki-vc-title-bg_full a.iki-vc-title-link:focus:before, .iki-vc-title-bg_full a.iki-vc-title-link:hover:before {
    height: 100%; }

.iki-grid-vc-click-lightbox .iki-popup-btn {
  font-size: 4rem; }

.iki-grid-img-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; }

.iki-cell-wrap-img-vc {
  border-radius: 4px; }
  .iki-grid-condensed .iki-cell-wrap-img-vc {
    border-radius: 0; }

[data-vc-full-width="true"][data-vc-stretch-content="true"] .iki-slider-vc-wrap {
  margin-left: 0;
  margin-right: 0; }

.iki-slick-slider {
  max-height: 300px;
  min-height: 300px; }
  .iki-slick-slider .iki-vc-post {
    display: inline-block;
    visibility: hidden;
    padding: 8px;
    margin: 0 8px; }
  .iki-slick-slider.iki-slider-rm-space .iki-img-slide-vc,
  .iki-slick-slider.iki-slider-rm-space .iki-vc-post {
    padding: 0;
    margin: 0;
    border-radius: 0; }
  .iki-vc-p-image-full_width .iki-slick-slider.iki-slider-rm-space .iki-vc-p-image-title-wrap {
    border-radius: 0; }

.iki-vc-center-mode .slick-slide {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: all 0.4s;
  transition: all 0.4s; }
  .iki-vc-center-mode .slick-slide.slick-center {
    -webkit-transform: scale(1);
            transform: scale(1); }

.slick-initialized {
  max-height: none;
  min-height: auto; }
  .slick-initialized .slick-slide {
    visibility: visible; }

@media all and (min-width: 1300px) {
  .iki-slick-slider.iki-vc-arr-o .slick-next {
    right: -30px; }
  .iki-slick-slider.iki-vc-arr-o .slick-prev {
    left: -30px; } }

.iki-slick-slider .slick-next {
  right: 10px; }

.iki-slick-slider .slick-prev {
  left: 14px; }

.iki-slick-slider .slick-arrow {
  z-index: 10; }
  .iki-slick-slider .slick-arrow:before {
    font-size: 45px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5); }
  .iki-slick-slider .slick-arrow:active {
    margin-top: 3px; }

[data-vc-full-width="true"][data-vc-stretch-content="true"] .iki-slick-slider.iki-vc-arr-o .slick-next {
  right: 0; }

[data-vc-full-width="true"][data-vc-stretch-content="true"] .iki-slick-slider.iki-vc-arr-o .slick-prev {
  left: 0; }

[dir="rtl"] .iki-slick-slider .slick-next {
  right: auto;
  left: 10px;
  background: blue; }
  [dir="rtl"] .iki-slick-slider .slick-next:before {
    content: '\e811'; }

[dir="rtl"] .iki-slick-slider .slick-prev {
  background: green;
  right: 10px;
  left: auto; }
  [dir="rtl"] .iki-slick-slider .slick-prev:before {
    content: '\e812'; }

@media all and (min-width: 1300px) {
  [dir="rtl"] .iki-slick-slider.iki-vc-arr-o .slick-next {
    left: -40px;
    background: blue; }
  [dir="rtl"] .iki-slick-slider.iki-vc-arr-o .slick-prev {
    background: green;
    right: -40px; } }

.iki-img-slider-vc {
  width: 100%; }
  .iki-img-slider-vc .iki-view-larger {
    font-size: 4rem; }

.iki-img-slide-vc {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  margin: 15px 8px;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  overflow: hidden; }
  .iki-img-slide-vc .iki-lb-btn:after {
    border: 5px solid rgba(255, 255, 255, 0.8); }

.iki-img-bg-wrap-vc {
  position: relative; }

.iki-img-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; }

.iki-vc-post.woocommerce .iki-vc-woo-pr-wrap {
  margin: 15px 0; }
  .iki-vc-post.woocommerce .iki-vc-woo-pr-wrap .star-rating {
    float: none; }
  .iki-vc-post.woocommerce .iki-vc-woo-pr-wrap .price {
    display: block;
    margin-top: 8px; }

.iki-vc-p-image-side .iki-vc-post.woocommerce .iki-vc-post-img {
  width: calc(50% - 4px); }

.iki-vc-p-image-side .iki-vc-post.woocommerce .iki-vc-text {
  width: 48%; }

.iki-vc-post.woocommerce .iki-woo-onsale {
  font-weight: bold;
  font-size: 0.9em;
  text-transform: uppercase; }

.iki-location-vc {
  margin-bottom: 30px; }
  .iki-location-vc.iki-grid-condensed {
    margin-top: 15px; }
  .iki-location-vc .iki-grid-row:first-child {
    margin-top: 0; }
  .iki-location-vc .iki-grid-row.iki-row-type-classic:first-child {
    margin-top: -15px; }
  .iki-location-vc.iki-g-d-default-v2.iki-grid-spaced .iki-grid-row:first-child.iki-row-type-classic {
    margin-top: -12px; }

.iki-vc-img-bg {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  overflow: hidden; }

.iki-vc-img-bg-wrap {
  margin-top: 15px; }
  .iki-vc-img-bg-wrap .embed-responsive {
    overflow: hidden; }

.iki-vc-img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.iki-vc-img-scale-up:hover .iki-vc-img-bg {
  -webkit-transform: scale(1.04);
          transform: scale(1.04); }

.iki-vc-img-scale-down:hover .iki-vc-img-bg {
  -webkit-transform: scale(0.96);
          transform: scale(0.96); }

.iki-vc-abs {
  position: absolute;
  top: 0;
  left: 0; }
  .iki-vc-abs.vc_row {
    margin-left: 7.5px;
    margin-right: 7.5px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    width: calc(100% - 15px); }

.iki-abs-top-right {
  left: auto;
  right: 0; }

.iki-abs-top-center {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.iki-abs-bottom {
  top: auto;
  bottom: 0; }

.iki-abs-bottom-right {
  top: auto;
  left: auto;
  bottom: 0;
  right: 0; }

.iki-abs-bottom-center {
  top: auto;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.iki-abs-center-center {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.iki-abs-center-left {
  top: 50%;
  left: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.iki-abs-center-right {
  top: 50%;
  left: auto;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.iki-vc-push-row {
  margin-top: 30px; }

.iki-vc-push-row-1-5 {
  margin-top: 45px; }

.iki-vc-push-row-x2 {
  margin-top: 45px; }
  @media all and (min-width: 768px) {
    .iki-vc-push-row-x2 {
      margin-top: 60px; } }

.iki-vc-push-row-x3 {
  margin-top: 60px; }
  @media all and (min-width: 768px) {
    .iki-vc-push-row-x3 {
      margin-top: 90px; } }

.iki-vc-row-margin-reset {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.iki-sc-adn {
  background-color: #504e54; }

.iki-sc-apple {
  background-color: #aeb5c5; }

.iki-sc-android {
  background-color: #A5C63B; }

.iki-sc-bitbucket {
  background-color: #003366; }

.iki-sc-dribbble {
  background-color: #F46899; }

.iki-sc-dropbox {
  background-color: #018BD3; }

.iki-sc-500px {
  background-color: #222; }

.iki-sc-facebook {
  background-color: #3C599F; }

.iki-sc-flickr {
  background-color: #0063dc; }

.iki-sc-foursquare {
  background-color: #0086BE; }

.iki-sc-reddit {
  background-color: #cee3f8; }

.iki-sc-github {
  background-color: #070709; }

.iki-sc-google {
  background-color: #CF3D2E; }

.iki-sc-instagram {
  background-color: #3f729b; }

.iki-sc-linkedin {
  background-color: #0085AE; }

.iki-sc-pinterest {
  background-color: #CC2127; }

.iki-sc-skype {
  background-color: #01AEF2; }

.iki-sc-tumblr {
  background-color: #314E6C; }

.iki-sc-twitter {
  background-color: #32CCFE; }

.iki-sc-vk {
  background-color: #375474; }

.iki-sc-weibo {
  background-color: #D72B2B; }

.iki-sc-youtube {
  background-color: #C52F30; }

.iki-sc-myspace {
  background-color: #000000; }

.iki-sc-buffer {
  background-color: #59626a; }

.iki-sc-lastFM {
  background-color: #d51007; }

.iki-sc-digg {
  background-color: #0093CC; }

.post-social-share {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  margin: 15px 0;
  font-size: 0; }
  .post-social-share.iki-spread-social .iki-share-btn-wrap {
    margin-right: 0;
    margin-top: 0;
    border-radius: 0;
    border: none;
    text-align: center;
    min-width: 45px; }
    .post-social-share.iki-spread-social .iki-share-btn-wrap .iki-sc-back {
      border-radius: 0; }
  .post-social-share.iki-round .iki-sc-back,
  .post-social-share.iki-round .iki-share-btn-wrap {
    border-radius: 50%; }
  .post-social-share.iki-round .iki-share-btn [class^="iki-icon-"]:before {
    margin-left: 0;
    margin-right: 0; }
  .post-social-share.sc-custom-symbol .iki-share-btn-wrap:hover {
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    position: relative;
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px); }
  .post-social-share.sc-custom-symbol .iki-share-btn {
    border: 1px solid transparent;
    border-radius: 4px; }
  .post-social-share.sc-custom-symbol.iki-round .iki-share-btn {
    border-radius: 50%; }
  .post-social-share.sc-custom-symbol.iki-spread-social .iki-share-btn {
    border-radius: 0; }
  .post-social-share.sc-dark .iki-share-btn-wrap {
    background-color: rgba(0, 0, 0, 0.3); }
  .post-social-share.sc-light .iki-share-btn-wrap {
    background-color: rgba(190, 190, 190, 0.5); }

.post-social-share .iki-share-btn-wrap {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: relative;
  display: inline-block;
  margin-top: 4px;
  margin-right: 4px;
  padding: 0;
  border-radius: 4px;
  line-height: 1;
  font-size: 1.5rem; }
  .post-social-share .iki-share-btn-wrap:last-child {
    margin-right: 0; }
  .post-social-share .iki-share-btn-wrap:hover .iki-sc-back {
    opacity: 1; }
  .post-social-share .iki-share-btn-wrap:hover .iki-share-btn {
    bottom: 4px; }
  .post-social-share .iki-share-btn-wrap .iki-share-btn {
    position: relative;
    display: block;
    z-index: 2;
    padding: 10px;
    color: #ffffff;
    width: 100%;
    height: 100%;
    line-height: 1;
    text-decoration: none; }
    .post-social-share .iki-share-btn-wrap .iki-share-btn:hover {
      color: white; }

.iki-sc-back {
  position: absolute;
  border-radius: 4px;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }
  .iki-sc-back.sc-light, .iki-sc-back.sc-dark {
    opacity: 0; }
  .iki-sc-back.sc-classic-minimal, .iki-sc-back.sc-classic-minimal-dark {
    opacity: 0; }
    .iki-sc-back.sc-classic-minimal:hover, .iki-sc-back.sc-classic-minimal-dark:hover {
      opacity: 1; }
  .iki-sc-back.sc-custom-symbol {
    background-color: transparent; }

/*External service grid */
.iki-maincontent-full .iki-external-images {
  padding: 0; }

.iki-external-images {
  font-size: 0;
  padding: 0 15px; }
  .iki-external-images.iki-grid-condensed {
    padding: 0; }

.iki-thumb-container {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  max-width: 100%;
  overflow: hidden;
  opacity: 0;
  width: 100%; }
  @media all and (min-width: 480px) {
    .iki-thumb-container {
      width: 50%;
      margin-left: 15px;
      width: calc(50% - ((15px) / 2)); }
      .iki-thumb-container:nth-child(2n+1) {
        margin-left: 0; } }
  @media all and (min-width: 768px) {
    .iki-thumb-container {
      width: 33%;
      width: calc(33.3333% - ((15px * 2) / 3)); }
      .iki-thumb-container:nth-child(2n+1) {
        margin-left: 15px; }
      .iki-thumb-container:nth-child(3n+1) {
        margin-left: 0; }
      .iki-thumb-container .iki-links {
        font-size: 2.5rem; } }
  @media all and (min-width: 992px) {
    .iki-thumb-container {
      width: calc(25% - ((15px * 3) / 4)); }
      .iki-thumb-container:nth-child(3n+1) {
        margin-left: 15px; }
      .iki-thumb-container:nth-child(4n+1) {
        margin-left: 0; } }
  @media all and (min-width: 1200px) {
    .iki-maincontent-full .iki-thumb-container {
      width: calc(20% - ((15px * 4) / 5)); }
      .iki-maincontent-full .iki-thumb-container:nth-child(4n+1) {
        margin-left: 15px; }
      .iki-maincontent-full .iki-thumb-container:nth-child(5n+1) {
        margin-left: 0; } }

/*CONDENSED GRID*/
.iki-grid-condensed .iki-thumb-container {
  margin: 0 !important;
  width: 100%; }
  @media all and (min-width: 480px) {
    .iki-grid-condensed .iki-thumb-container {
      width: 50%; } }
  @media all and (min-width: 600px) {
    .iki-grid-condensed .iki-thumb-container {
      width: 33.3333%; } }
  @media all and (min-width: 768px) {
    .iki-grid-condensed .iki-thumb-container {
      width: 33.3333%; } }
  @media all and (min-width: 992px) {
    .iki-grid-condensed .iki-thumb-container {
      width: 25%; } }
  @media all and (min-width: 1200px) {
    .iki-maincontent-full .iki-grid-condensed .iki-thumb-container {
      width: 20%; } }

.iki-ext-placeholder {
  opacity: 1;
  height: 240px;
  -webkit-animation: iki-scale-up 0.8s linear infinite alternate;
          animation: iki-scale-up 0.8s linear infinite alternate; }

.iki-thumb-container {
  color: #ffffff;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  /*Thumb HOVER - FOCUS*/ }
  .iki-thumb-container a {
    color: #ffffff; }
    .iki-thumb-container a:focus, .iki-thumb-container a:hover {
      color: #ffffff;
      outline: none; }
  .iki-thumb-container .iki-img-wrap {
    background-size: cover;
    position: relative;
    overflow: hidden; }
    .iki-thumb-container .iki-img-wrap img {
      width: 100%; }
  .iki-thumb-container .iki-view-larger {
    opacity: 1; }
  .iki-thumb-container:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0; }
  .iki-thumb-container:hover:after {
    opacity: 1; }
  .iki-thumb-container:hover .iki-info {
    opacity: 1;
    top: 0; }
  .iki-thumb-container:hover .iki-thumb-title {
    top: 8px;
    opacity: 1; }
  .iki-thumb-container .iki-thumb-title {
    position: absolute;
    top: -10%;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    padding: 0 10px;
    z-index: 3;
    opacity: 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s; }
  .iki-thumb-container .iki-links {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 5.5rem;
    top: 50%;
    left: 50%;
    z-index: 3;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.iki-info {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  top: 0;
  left: 0;
  z-index: 3; }

.iki-info-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 8px; }

.iki-comments {
  text-align: right;
  left: 30%; }

.iki-icon-heart:before {
  color: #ff69b4; }

.iki-link {
  position: relative;
  word-break: break-all;
  display: inline-block; }

.iki-lb-ext-link {
  display: block;
  margin-top: 15px; }

.iki-lb-desc {
  display: none; }
  @media all and (min-width: 480px) {
    .iki-lb-desc {
      display: block; } }

/*description container - for lightbox fix*/
.iki-desc {
  display: none; }
  .mfp-content .iki-desc {
    display: block; }

.iki-fs-panel-active {
  overflow-y: hidden; }

.iki-offscreen {
  visibility: hidden !important;
  position: fixed !important;
  left: 100% !important; }

.iki-fs-panel-canvas,
.iki-fs-panel,
.panel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw; }

.panel-overlay {
  z-index: 9; }

.iki-fs-panel {
  position: fixed;
  z-index: 100;
  opacity: 0;
  text-align: center;
  font-size: 0; }
  .iki-fs-panel .iki-content-block {
    max-width: 100%;
    margin: 0 auto; }
  .iki-fs-panel:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
  .iki-fs-panel .iki-fs-wrapper {
    z-index: 10;
    position: relative;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    font-size: 1rem; }
    .iki-fs-panel .iki-fs-wrapper.iki-fixed-width {
      max-width: 1200px; }
    .iki-fs-panel .iki-fs-wrapper.iki-align-top {
      vertical-align: top; }
  .iki-fs-panel .search-form-wrapper button {
    display: none; }

/* FS PANEL CLOSE BUTTON */
.close-btn-wrap {
  top: 15px;
  right: 15px;
  position: absolute;
  z-index: 11;
  font-size: 25px;
  cursor: pointer; }
  .close-btn-wrap .iki-close-btn {
    padding: 7px 5px;
    padding-bottom: 9px;
    border-radius: 4px;
    line-height: 1;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
    .close-btn-wrap .iki-close-btn:hover {
      -webkit-transform: scale(0.9);
              transform: scale(0.9); }

.iki-fs-panel {
  color: #666;
  background-color: #fff; }
  .iki-fs-panel h1,
  .iki-fs-panel h2,
  .iki-fs-panel h3,
  .iki-fs-panel h4,
  .iki-fs-panel h5,
  .iki-fs-panel h6 {
    color: #333; }
  .iki-fs-panel a {
    color: #4061cd; }
    .iki-fs-panel a:focus, .iki-fs-panel a:hover {
      color: #132fcd; }
  .iki-fs-panel .panel-overlay {
    background-color: transparent; }
  .iki-fs-panel .iki-close-btn {
    color: #ffffff;
    background-color: #000000; }
  .iki-fs-panel input,
  .iki-fs-panel textarea,
  .iki-fs-panel select,
  .iki-fs-panel .search-btn {
    background-color: #ebebeb; }
    .iki-fs-panel input:focus, .iki-fs-panel input:hover,
    .iki-fs-panel textarea:focus,
    .iki-fs-panel textarea:hover,
    .iki-fs-panel select:focus,
    .iki-fs-panel select:hover,
    .iki-fs-panel .search-btn:focus,
    .iki-fs-panel .search-btn:hover {
      background-color: #e6e6e6; }
    .iki-fs-panel input::-webkit-input-placeholder,
    .iki-fs-panel textarea::-webkit-input-placeholder,
    .iki-fs-panel select::-webkit-input-placeholder,
    .iki-fs-panel .search-btn::-webkit-input-placeholder {
      color: #666; }
    .iki-fs-panel input::-ms-input-placeholder,
    .iki-fs-panel textarea::-ms-input-placeholder,
    .iki-fs-panel select::-ms-input-placeholder,
    .iki-fs-panel .search-btn::-ms-input-placeholder {
      color: #666; }
    .iki-fs-panel input::placeholder,
    .iki-fs-panel textarea::placeholder,
    .iki-fs-panel select::placeholder,
    .iki-fs-panel .search-btn::placeholder {
      color: #666; }
  .iki-fs-panel .search-ui .search-form-wrapper {
    border-bottom-color: #000;
    background-color: #ffffff; }
    .iki-fs-panel .search-ui .search-form-wrapper form input {
      color: #000; }
    .iki-fs-panel .search-ui .search-form-wrapper form input::-webkit-input-placeholder {
      color: #666; }
    .iki-fs-panel .search-ui .search-form-wrapper form input::-ms-input-placeholder {
      color: #666; }
    .iki-fs-panel .search-ui .search-form-wrapper form input::placeholder {
      color: #666; }

.entry-meta-bottom {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5); }
  .entry-meta-bottom .iki-content-meta {
    margin-top: 15px; }

.iki-hero-section .entry-title,
.iki-hero-section .page-title {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5); }

.iki-hero-section .entry-meta a:hover {
  text-decoration: underline; }

.iki-hero-section .taxonomy-description,
.iki-hero-section .iki-scroll-down-indicator,
.iki-hero-section .entry-subtitle {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.5); }

.iki-hero-section .iki-categories a {
  display: inline-block;
  margin-left: 4px;
  margin-top: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 8px;
  border-radius: 4px; }

.iki-hero-section .byline {
  margin-right: 4px; }

.iki-hero-section .iki-auth-twitter-handle {
  font-style: italic; }

.iki-hero-section.iki-hs-rm-spacing {
  font-size: 0; }
  .iki-hero-section.iki-hs-rm-spacing .iki-hero-content {
    padding: 0; }
  .iki-hero-section.iki-hs-rm-spacing .iki-hs-content-wrap {
    padding: 0; }
  .iki-hero-section.iki-hs-rm-spacing .iki-custom-content-wrap {
    margin: 0;
    font-size: 1rem; }

.iki-hs-no-shadow .entry-meta-bottom,
.iki-hs-no-shadow .taxonomy-description,
.iki-hs-no-shadow .entry-subtitle,
.iki-hs-no-shadow .entry-title,
.iki-hs-no-shadow .page-title {
  text-shadow: none; }

.iki-hero-bg {
  background: #4885ed;
  background: linear-gradient(45deg, #0B4182 1%, #1080d0 64%, #40BAF5 97%); }

.iki-custom-content-wrap {
  position: relative;
  width: 100%;
  margin: 30px auto;
  display: inline-block; }
  .iki-hs-t-outside .iki-custom-content-wrap {
    margin: 0 auto; }
  .iki-custom-content-wrap iframe:first-child {
    display: block;
    width: 100% !important;
    max-width: 100% !important;
    min-width: auto !important;
    margin: 0 !important; }
  .iki-hs-content-featured_image .iki-custom-content-wrap,
  .iki-hs-content-image .iki-custom-content-wrap {
    display: inline-block;
    width: auto; }
  .iki-custom-content-wrap .iki-content-block {
    margin: 0; }

.iki-hs-sharing {
  max-width: 800px;
  margin: 0 auto; }

.iki-multiple_images .gallery-item {
  opacity: 0; }

.iki-cc-wp-editor {
  padding: 15px;
  text-align: left; }

.iki-hs-background {
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4); }
  .iki-hs-background.iki-multiple_images {
    padding: 10px 8px 5px 8px; }

.iki-cb-custom_content {
  margin-top: 0;
  padding: 0 15px; }

.iki-hero-section {
  color: #ffffff; }
  .iki-hero-section h1, .iki-hero-section h2, .iki-hero-section h3, .iki-hero-section h4, .iki-hero-section h5, .iki-hero-section h6,
  .iki-hero-section .page-title,
  .iki-hero-section .entry-title,
  .iki-hero-section .entry-subtitle,
  .iki-hero-section .entry-meta,
  .iki-hero-section .entry-meta a,
  .iki-hero-section .entry-meta a:hover,
  .iki-hero-section .taxonomy-description {
    color: #ffffff; }
  .iki-hero-section a {
    color: #ffffff; }
    .iki-hero-section a:focus, .iki-hero-section a:hover {
      color: #ffffff; }

.iki-hero-thumb {
  opacity: 0; }

.iki-scroll-down-indicator {
  font-size: 40px;
  position: absolute;
  left: 0px;
  padding: 0 5px;
  bottom: 0;
  z-index: 10;
  display: none;
  width: 100%; }
  .iki-scroll-down-indicator.iki-pos-bottom-right {
    left: auto;
    right: 0;
    text-align: right; }
  .iki-scroll-down-indicator.iki-pos-bottom-fixed-left, .iki-scroll-down-indicator.iki-pos-bottom-fixed-right {
    max-width: 1200px;
    display: inline-block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .iki-scroll-down-indicator.iki-pos-bottom-fixed-right {
    text-align: right; }
  .iki-scroll-down-indicator.iki-pos-bottom-center {
    text-align: center; }
  .iki-scroll-down-indicator .iki-icon {
    display: inline-block;
    -webkit-animation: iki-bounce 0.7s ease-in infinite;
            animation: iki-bounce 0.7s ease-in infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate; }
  @media all and (min-width: 992px) {
    .iki-scroll-down-indicator {
      display: block; } }

#iki-hero-thumb,
#iki-video-bg-pattern,
.iki-hero-bg,
.iki-hero-overlay,
.iki-hero-video-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.iki-hero-video-bg {
  display: none; }
  @media all and (min-width: 992px) {
    .iki-hero-video-bg {
      display: block; } }

#iki-hero-canvas {
  width: 100%;
  height: 100%;
  position: relative; }

@-moz-document url-prefix() {
  .iki-hero-section .iki-svg-separator {
    margin-bottom: -1px; } }

.iki-hero-section {
  position: relative;
  margin: 0 auto;
  overflow: hidden; }
  .iki-hero-section .entry-header {
    text-align: left;
    margin: 0; }
  .iki-hs-fixed .iki-hero-section {
    max-width: 1200px; }
  .iki-hero-section .iki-search-query {
    display: block; }
  .iki-hero-section .iki-svg-separator {
    z-index: 4; }

.iki-hero-content {
  display: table;
  table-layout: fixed;
  position: relative;
  width: 100%;
  min-height: 140px;
  padding: 30px 15px; }
  .iki-hs-height-medium .iki-hero-content {
    min-height: 300px;
    height: 300px; }
  .iki-hs-height-large .iki-hero-content {
    min-height: 225px;
    height: 225px; }
    @media all and (min-width: 992px) {
      .iki-hs-height-large .iki-hero-content {
        min-height: 450px;
        height: 450px; } }
  .iki-hs-height-xl .iki-hero-content {
    min-height: 275px;
    height: 275px; }
    @media all and (min-width: 992px) {
      .iki-hs-height-xl .iki-hero-content {
        min-height: 550px;
        height: 550px; } }
  .iki-hs-height-xxl .iki-hero-content {
    min-height: 325px;
    height: 325px; }
    @media all and (min-width: 992px) {
      .iki-hs-height-xxl .iki-hero-content {
        min-height: 650px;
        height: 650px; } }

.iki-hs-content-wrap {
  position: relative;
  max-width: 1200px; }

.iki-hs-height-full .iki-hero-content {
  min-height: calc(100vh - 200px);
  height: calc(100vh - 200px); }

.iki-hs-height-full.iki-desktop-menu .iki-hero-content {
  height: 100vh;
  min-height: 100vh; }

.iki-hs-height-full.iki-desktop-menu .iki-hero-content {
  min-height: calc(100vh - 70px);
  height: calc(100vh - 70px); }

.iki-hs-height-full.iki-desktop-menu.iki-has-top-menu .iki-hero-content {
  min-height: calc(100vh - 110px);
  height: calc(100vh - 110px); }

.iki-hs-content-wrap {
  display: table-cell;
  z-index: 5;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  padding: 0 15px; }
  .iki-hs-content-wrap .iki-content-block {
    text-align: left;
    padding: 0; }

.iki-hs-content-excerp .iki-custom-content-wrap {
  text-align: left; }

.iki-hs-center-center .iki-hero-content {
  text-align: center; }

.iki-hs-center-center .iki-hs-content-wrap {
  margin: 0 auto; }

.iki-hs-center-bottom .iki-hero-content {
  text-align: center; }

.iki-hs-center-bottom .iki-hs-content-wrap {
  margin: 0 auto; }

.iki-hs-center-bottom .iki-hs-content-wrap,
.iki-hs-fixed-left-bottom .iki-hs-content-wrap,
.iki-hs-left-bottom .iki-hs-content-wrap {
  vertical-align: bottom; }

.iki-hs-center-top .iki-hs-content-wrap,
.iki-hs-fixed-left-top .iki-hs-content-wrap,
.iki-hs-left-top .iki-hs-content-wrap {
  vertical-align: top; }

.iki-hs-h-center .entry-header {
  text-align: center; }

.iki-hs-h-left .iki-hs-content-wrap {
  text-align: left; }

.iki-hs-h-fixed-left,
.iki-hs-h-left {
  text-align: left; }
  .iki-hs-h-fixed-left .iki-hs-sharing,
  .iki-hs-h-left .iki-hs-sharing {
    margin-left: 0; }

.iki-hs-h-fixed-left .iki-hero-content {
  margin: 0 auto;
  max-width: 1200px; }

.iki-hs-h-fixed-left .iki-hs-content-wrap {
  text-align: left; }

@media all and (min-width: 1200px) {
  .iki-hs-h-fixed-left .iki-hero-content {
    padding-left: 0;
    padding-right: 0; } }

.iki-hs-spacer {
  display: block;
  margin-top: 30px; }

.iki-hs-featured .entry-subtitle a:hover,
.iki-hs-featured .entry-title a:hover {
  text-decoration: underline; }

.iki-hs-featured .iki-post-by {
  margin-right: 4px; }

.iki-hs-featured .iki-custom-content-wrap {
  margin: 15px auto; }

.iki-featured-notify {
  display: inline-block;
  font-size: 1.3rem;
  padding: 10px;
  font-weight: bold;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px; }
  @media all and (min-width: 768px) {
    .iki-featured-notify {
      font-size: 1.8rem; } }

.iki-hs-above-title {
  margin-top: 15px;
  font-size: 1.3rem; }
  @media all and (min-width: 768px) {
    .iki-hs-above-title {
      font-size: 1.8rem; } }

.iki-feat-read-more {
  margin: 30px 0 15px 0;
  display: block;
  position: relative;
  font-size: 1.4rem; }
  @media all and (min-width: 768px) {
    .iki-feat-read-more {
      font-size: 1.8rem; } }
  .iki-feat-read-more a {
    position: relative;
    padding-bottom: 6px; }
    .iki-feat-read-more a:after {
      content: '';
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      width: 100%;
      height: 5px;
      background: rgba(0, 0, 0, 0.5);
      background: white;
      position: absolute;
      bottom: 0;
      left: 0; }
  .iki-feat-read-more a:hover:after {
    height: 8px; }
  .iki-feat-read-more.iki-hollow a {
    padding: 15px 30px; }
    .iki-feat-read-more.iki-hollow a:after {
      border: 2px solid;
      background: transparent;
      height: 100%; }
    .iki-feat-read-more.iki-hollow a:hover:after {
      border-width: 5px; }
  .iki-feat-read-more.iki-hollow.iki-h-round-1 a:after {
    border-radius: 10px; }
  .iki-feat-read-more.iki-hollow.iki-h-round-2 a:after {
    border-radius: 20px; }
  .iki-feat-read-more.iki-hollow.iki-h-round-3 a:after {
    border-radius: 30px; }

.iki-form-section {
  float: left;
  width: 100%; }
  @media all and (min-width: 600px) {
    .iki-form-section {
      width: 33.3333%; } }
  .iki-form-section.section-message, .iki-form-section.section-subject {
    width: 100%;
    display: block; }
  .iki-form-section.section-iki-contact-answer {
    width: 100%; }

.iki-form {
  position: relative; }
  .iki-form .iki-form-element {
    position: relative;
    width: 100%; }

.iki-form-label {
  position: relative; }

.iki-form-error:before,
.iki-notification-panel {
  background-color: #ff5651; }

.contact-form-title {
  margin-top: 0;
  text-align: center; }
  @media all and (min-width: 600px) {
    .contact-form-title {
      text-align: left; } }

.iki-form-section {
  position: relative;
  margin-top: 4px;
  padding: 4px; }
  .iki-form-section:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }

.iki-form-btn {
  float: left;
  clear: both;
  margin-top: 15px;
  margin-left: 4px; }
  .iki-form-btn .iki-working-state {
    display: none; }
  .iki-form-btn .iki-notif-text {
    margin-right: 15px; }
  .iki-form-btn.iki-in-progress .iki-working-state {
    display: inline-block;
    -webkit-animation: iki-rotate 1.5s infinite;
            animation: iki-rotate 1.5s infinite;
    margin-left: 15px; }
  .iki-form-btn.iki-in-progress .iki-submit-state {
    display: none; }

.iki-empty-notification {
  display: inline-block;
  margin-left: 8px; }

.iki-notification-panel {
  border-left: 10px solid red;
  position: relative;
  margin-top: 8px;
  margin-left: 4px; }
  .iki-notification-panel p {
    margin-bottom: 0;
    padding: 8px; }

.iki-form-error {
  color: #ffffff; }

.iki-error-field {
  margin-left: 8px; }
  .iki-error-field:before {
    position: relative;
    display: inline-block;
    content: ' ';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: red;
    margin-right: 8px;
    vertical-align: middle; }

.iki-form-section {
  float: left;
  width: 100%; }
  @media all and (min-width: 600px) {
    .iki-form-section {
      width: 33.3333%; }
      .iki-contact-rpf .iki-form-section {
        width: 50%; } }
  .iki-form-section.section-message, .iki-form-section.section-subject {
    width: 100%;
    display: block; }
  .iki-form-section.section-iki-contact-answer {
    width: 100%; }

.iki-vc-content-wrap {
  padding-left: 25px; }

.mb_YTPlayer:focus {
  outline: 0; }

.mbYTP_wrapper {
  display: block;
  -webkit-transform: translateZ(0) translate3d(0, 0, 0);
          transform: translateZ(0) translate3d(0, 0, 0);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000;
          perspective: 1000;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.mbYTP_wrapper iframe {
  max-width: 4000px !important; }

#iki-video-bg-pattern {
  height: 100%;
  background-repeat: repeat;
  background-size: auto;
  background-position: top left; }

.iki-project-layout-horizontal.iki-asset-bottom .iki-project-asset {
  margin-top: 15px; }

.iki-project-layout-horizontal.iki-asset-top {
  margin-bottom: 30px; }

.iki-project-layout-horizontal .iki-project-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px; }

.iki-project-layout-horizontal .iki-vc-sec-wrap {
  width: 100%;
  float: left;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
  @media all and (min-width: 600px) {
    .iki-project-layout-horizontal .iki-vc-sec-wrap {
      width: 50%;
      padding-left: 15px; }
      .iki-project-layout-horizontal .iki-vc-sec-wrap:nth-child(odd) {
        padding-left: 0; } }
  @media all and (min-width: 768px) {
    .iki-project-layout-horizontal .iki-vc-sec-wrap {
      width: 25%; }
      .iki-project-layout-horizontal .iki-vc-sec-wrap:nth-child(3) {
        padding-left: 15px; } }

.iki-project-layout-horizontal .iki-project-info {
  margin-top: 15px; }

.iki-project-layout-horizontal .iki-vc-misc {
  width: 100%;
  max-width: 100%;
  margin: 30px 0; }

.iki-location-project_grid.iki-g-d-port-v2 {
  margin-left: 3px;
  margin-right: 3px; }

.iki-project-asset {
  width: 100%;
  overflow: hidden; }
  .iki-project-asset .iki-custom-content-wrap {
    margin: 0 auto;
    display: block;
    text-align: center; }

.iki-project-type-asset_grid {
  margin-top: -15px; }
  .iki-project-type-asset_grid .iki-project-info {
    margin-top: 15px; }

.iki-project-info {
  width: 100%; }
  .iki-asset-top .iki-project-info {
    margin-top: 45px; }

.iki-project-layout-vertical .iki-project-asset {
  margin-top: 0;
  margin-bottom: 30px; }

.iki-project-layout-vertical .iki-vc-sec-wrap {
  margin-top: 30px; }
  .iki-project-layout-vertical .iki-vc-sec-wrap:first-child {
    margin-top: 0; }

@media all and (min-width: 768px) {
  .iki-project-layout-vertical .iki-project-info {
    float: left;
    width: 30%;
    padding-right: 30px; }
  .iki-project-layout-vertical .iki-project-asset {
    width: 70%;
    float: right; }
  .iki-project-layout-vertical.iki-asset-left .iki-project-info {
    float: right;
    padding-left: 30px;
    padding-right: 0; }
  .iki-project-layout-vertical.iki-asset-left .iki-project-asset {
    float: left; } }

.iki-vc-icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
  margin-top: 30px; }
  .iki-vc-icon-wrap.wpb_content_element {
    margin-bottom: 15px;
    margin-top: 30px; }
  .iki-vc-icon-wrap.iki-vc-native:first-child {
    margin-top: 0; }
  .iki-vc-icon-wrap .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon,
  .iki-vc-icon-wrap .iki-vc-icon {
    font-size: 1.2rem !important; }
    .iki-vc-icon-wrap .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner.vc_icon_element-size-md .vc_icon_element-icon:before,
    .iki-vc-icon-wrap .iki-vc-icon:before {
      margin-left: 0;
      margin-right: 4px; }
  .iki-vc-icon-wrap .vc_icon_element.vc_icon_element-outer .vc_icon_element-inner {
    width: auto;
    height: auto;
    margin-left: 7px;
    margin-right: 15px; }

.iki-vc-icon-txt {
  display: inline-block;
  font-size: 1rem; }

.iki-vc-icon-sep {
  border-top: 1px solid transparent;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 15px; }
